body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5DC;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5C4033;
    color: #FFFFFF;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #5C4033;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #D3D3D3;
    color: #000000;
}

#peli-alue {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: #5C4033;
    color: white;
}
